---
lang: de
title: Kotflügelverbreiterungen
description: Kotflügelverbreiterungen für Pickups und Offroad-Fahrzeuge - langlebige Lösungen für mehr Schutz und bessere Optik.
category: Kotflügelverbreiterungen
---

<section class="pt-xlarge products-category">
<div class="container">
  {% set breadcrumbHome = "Startseite" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% if lang == "en" %}
  {% set breadcrumbHome = "Heim" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% endif %}
  <nav class="breadcrumbs uppercase small color-accent-1">
    <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
    <span>|</span>
    <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
    <span>|</span>
    <span>{{ title }}</span>
  </nav>
  <h1 class="xl split-lines color-light-1 mb-5 mt-3">{{ title }}</h1>

  {% set products = collections.productCategories[lang][category] | sortByOrder %}

  {% if products and products.length %}
    <div class="products-grid row g-4">
      {% for product in products %}
      <div class="col-md-4 col-lg-3">
        <a href="{{ product.url | url }}">
        <article class="product-card rounded-md">
          {% productImage product.data.productImage, product.data.title %}
          <div class="product-card-content p-4 bg-light-1">
          <h3 class="h4 mt-0">{{ product.data.title }}</h3>
          <a href="{{ product.url | url }}" class="color-accent-1 small">Weitere &rarr;</a>
          </div>
        </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>In diesen Kategorien sind keine Produkte vorhanden.</p>
  {% endif %}
  </div>
</section>












