---
lang: de
title: Seilführungen für Winden
description: Seilführungen für Winden - präzise und robuste Lösungen für einen reibungslosen Seillauf und den Schutz der Winde.
category: Seilführungen für Winden
---

<section class="pt-xlarge pb-large products-category">
<div class="container">
  {% set breadcrumbHome = "Startseite" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% if lang == "en" %}
  {% set breadcrumbHome = "Heim" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% endif %}
  <nav class="breadcrumbs uppercase small color-accent-1">
    <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
    <span>|</span>
    <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
    <span>|</span>
    <span>{{ title }}</span>
  </nav>
  <h1 class="xl split-lines color-light-1 mb-5 mt-3">{{ title }}</h1>

    <div class="cat-desc-content bg-light-1 p-3 p-md-5 mb-5 rounded-md">
      <div class="row g-1 g-md-5">
        <div class="col-md-4">
          <div class="description-content">
            <h2 class="mt-3">Windenseilführungen</h2>
          </div>
        </div>
        <div class="col-md-8">
             <p class="mb-2">Windenführungen mit Abschlepphaken für synthetisches Seil – Offroad-Zubehör für Jeep, GMC, Nissan, Mazda, Chevy, Toyota, Ford, Dodge RAM – Aluminium</p>
        </div>
      </div>
    </div>

  {% set products = collections.productCategories[lang][category] | sortByOrder %}

  {% if products and products.length %}
    <div class="products-grid row g-3">
      {% for product in products %}
      <div class="col-md-4 col-lg-3">
        <a href="{{ product.url | url }}">
        <article class="product-card rounded-md">
          {% productImage product.data.productImage, product.data.title %}
          <div class="product-card-content p-4 bg-light-1">
          <h3 class="h4 mt-0  line-clamp-3">{{ product.data.title }}</h3>
          <a href="{{ product.url | url }}" class="color-accent-1 small">Weitere &rarr;</a>
          </div>
        </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>In diesen Kategorien sind keine Produkte vorhanden.</p>
  {% endif %}
  </div>
</section>












