---
lang: de
title: An der Heckklappe montierte Boxen
description: An der Heckklappe montierte Boxen - zusätzlicher Stauraum und bessere Organisation der Ladung in Ihrem Pickup.
category: An der Heckklappe montierte Boxen
---

<section class="pt-xlarge products-category">
<div class="container">
  {% set breadcrumbHome = "Startseite" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% if lang == "en" %}
  {% set breadcrumbHome = "Heim" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% endif %}
  <nav class="breadcrumbs uppercase small color-accent-1">
    <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
    <span>|</span>
    <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
    <span>|</span>
    <span>{{ title }}</span>
  </nav>
  <h1 class="xl split-lines color-light-1 mb-5 mt-3">{{ title }}</h1>

    <div class="cat-desc-content bg-light-1 p-3 p-md-5 mb-5 rounded-md">
      <div class="row g-1 g-md-5">
        <div class="col-md-4">
          <div class="description-content">
            <h2 class="mt-3">An der Heckklappe montierte Boxen </h2>
          </div>
        </div>
        <div class="col-md-8">
             <p class="mb-2"> Die Boxen bestehen aus einer hochwertigen 6061-Aluminiumlegierung und sind mit einer fortschrittlichen Eloxalbeschichtung und Sprühlack geschützt. Sie sind für den Betrieb unter schwierigen Bedingungen ausgelegt. Sie sind beständig gegen UV-Strahlung, saure Regen und Korrosion. Ihre hohe Tragfähigkeit ermöglicht einem Erwachsenen einen sicheren Stand und die rutschfeste Oberfläche sorgt für Stabilität während der Nutzung. Die leichte und dennoch äußerst langlebige Konstruktion erleichtert das Schließen der Heckklappe – auch für ein Kind.</p>
            <a href="#opis" class="small color-accent-1">Mehr erfahren &rarr; </a>
        </div>
      </div>
    </div>

  {% set products = collections.productCategories[lang][category] | sortByOrder %}

  {% if products and products.length %}
    <div class="products-grid row g-3">
      {% for product in products %}
      <div class="col-md-4 col-lg-3">
        <a href="{{ product.url | url }}">
        <article class="product-card rounded-md">
          {% productImage product.data.productImage, product.data.title %}
          <div class="product-card-content p-4 bg-light-1">
          <h3 class="h4 mt-0 line-clamp-3">{{ product.data.title }}</h3>
          <a href="{{ product.url | url }}" class="color-accent-1 small">Weitere &rarr;</a>
          </div>
        </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>In diesen Kategorien sind keine Produkte vorhanden.</p>
  {% endif %}
  </div>
</section>

<section class="cat-description pt-medium pb-large" id="opis">
  <div class="container">
    <div class="cat-desc-content bg-light-1 p-3 p-md-5 rounded-md">
      <div class="row g-5">
        <div class="col-md-7">
          <div class="description-content">
           <p>Die Truhe kann auch als praktischer Minitisch oder Bar dienen – perfekt für Picknicks oder Kochen im Freien. Dicke Dichtungen schützen den Innenraum effektiv vor Staub und Regen und halten Werkzeuge und Geräte sauber und trocken.</p>

            <div class="line-x"></div>
            <p>Zusätzliche Elemente wie ein integrierter Kennzeichenhalter, eine Rückfahrkamerahalterung und vorbereitete Löcher für einen Fahnenmast und zusätzliche Bremslichter ermöglichen eine vollständige Individualisierung des Fahrzeugs für den Offroad-Einsatz.</p>

            <div class="line-x"></div>
            <p>Der Laderaum mit einem Fassungsvermögen von 60 Litern ist ergonomisch in drei Abschnitte unterteilt, was eine geordnete Aufbewahrung von Kanistern, Abschleppseilen und Rettungsausrüstung ermöglicht. Ein Schloss mit Staubschutz erhöht die Sicherheit und Haltbarkeit, und durch die nichtinvasive Installation bleibt die strukturelle Integrität des Fahrzeugs erhalten.</p>

          </div>
        </div>
        <div class="col-md-5">
         <div class="sticky">
          <div class="swiper swiper-category">
            <div class="swiper-wrapper"> {% for post in collections.works | byLang(lang) %} <div class="swiper-slide">
                <div class="work-card bg-light-1 rounded-md">
                  <a href="{{ post.data.thumbnail | url }}" class="glightbox work-image-wrap rounded-md" data-gallery="portfolio" data-no-swup>
                    <svg class="img-wrapper-icon" width="34" height="34" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                      <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25" />
                      <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5" />
                    </svg> {% workImage "src/" + post.data.thumbnail, post.data.title %} </a>
                </div>
              </div> {% endfor %} </div>
          </div>
          <button class="magnetic swiper-gal swiper-button-prev fade-in" data-strength="60" tabindex="0" aria-label="Vorherige Folien">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <button class="magnetic swiper-gal swiper-button-next fade-in" data-strength="60" tabindex="0" aria-label="Nächste Folie">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <div class="fade-in">
            <div class="swiper-scrollbar bg-light-2"></div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>










