---
lang: de
title: BASR-Strukturen
description: BASR-Aufbauten - robuste und funktionale Systeme für Pickups, die Haltbarkeit, Organisation und Ladungssicherheit gewährleisten.
category: BASR-Strukturen
---

<section class="pt-xlarge products-category">
<div class="container">
  {% set breadcrumbHome = "Startseite" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% if lang == "en" %}
  {% set breadcrumbHome = "Heim" %}
  {% set breadcrumbOffer = "Angebot" %}
  {% set breadcrumbOfferUrl = "/angebot/" %}
  {% endif %}
  <nav class="breadcrumbs uppercase small color-accent-1">
    <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
    <span>|</span>
    <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
    <span>|</span>
    <span>{{ title }}</span>
  </nav>
  <h1 class="xl split-lines color-light-1 mb-5 mt-3">{{ title }}</h1>

    <div class="cat-desc-content bg-light-1 p-3 p-md-5 mb-5 rounded-md">
      <div class="row g-1 g-md-5">
        <div class="col-md-4">
          <div class="description-content">
            <h2 class="mt-3">BASR-Strukturen </h2>
          </div>
        </div>
        <div class="col-md-8">
             <p class="mb-2">             
              BASR ist eine Strukturlinie für Benutzer, für die die Höhe oder die Notwendigkeit, einen Original-Rollladen zu verwenden, wichtiger sind als ein dicht geschlossener Laderaum. 
              </p>
              <p>
                Gebäude dieser Kategorie verfügen über viele Varianten und Erweiterungsmöglichkeiten, die auf zusätzlichen versenkbaren Plattformen und Molle-Paneelen, Organizern, Touristentischen, Kraftstoff- oder Wassertanks oder Lebensmittellagerfächern basieren. 
              </p>

        </div>
      </div>
    </div>

  {% set products = collections.productCategories[lang][category] | sortByOrder %}

  {% if products and products.length %}
    <div class="products-grid row g-4">
      {% for product in products %}
      <div class="col-md-4 col-lg-3">
        <a href="{{ product.url | url }}">
        <article class="product-card rounded-md">
          {% productImage product.data.productImage, product.data.title %}
          <div class="product-card-content p-4 bg-light-1">
          <h3 class="h4 mt-0">{{ product.data.title }}</h3>
          <a href="{{ product.url | url }}" class="color-accent-1 small">Weitere &rarr;</a>
          </div>
        </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>In dieser Kategorie sind keine Produkte vorhanden.</p>
  {% endif %}
  </div>
</section>

<!--
<section class="cat-description pt-medium mb-5" id="opis">
  <div class="container">
    <div class="cat-desc-content bg-light-1 p-3 p-md-5 rounded-md">
      <div class="row g-5">
        <div class="col-md-7">
          <div class="description-content">



          </div>
        </div>
        <div class="col-md-5">
         <div class="sticky">

         </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section>
  <div class="container">
          <div class="">
            <div class="row g-3"> 
              {% set basrGallery = [
                "basr-1.jpeg",
                "basr-2.jpeg",
                "basr-3.jpeg",
                "basr-4.jpeg",
                "basr-5.jpeg",
                "cat-basr-1.jpeg",
                "cat-basr-2.jpeg",
                "cat-basr-3.jpeg",
                "cat-basr-4.jpeg",
                "cat-basr-5.jpeg",
                "cat-basr-6.jpeg",
                "cat-basr-7.jpeg",
                "cat-basr-8.jpeg",
                "cat-basr-9.jpeg",
                "cat-basr-10.jpeg",
                "cat-basr-11.jpeg",
                "cat-basr-12.jpeg",
                "cat-basr-13.jpeg",
                "cat-basr-14.jpeg",
                "cat-basr-15.jpeg",
                "cat-basr-16.jpeg",
                "cat-basr-17.jpeg",
                "cat-basr-18.jpeg",
                "cat-basr-19.jpeg",
                "cat-basr-20.jpeg",
                "cat-basr-21.jpeg",
                "cat-basr-22.jpeg",
                "cat-basr-23.jpeg",
                "cat-basr-24.jpeg",
                "cat-basr-25.jpeg",
                "cat-basr-27.jpeg",
                "cat-basr-28.jpeg",
                "cat-basr-29.jpeg",
                "cat-basr-30.jpeg",
                "cat-basr-31.jpeg",
                "cat-basr-32.jpeg",
                "cat-basr-33.jpeg",
                "cat-basr-34.jpeg",
                "cat-basr-acc-0.jpeg",
                "cat-basr-acc-1.jpeg",
                "cat-basr-acc-2.jpeg",
                "cat-basr-acc-3.jpeg",
                "cat-basr-acc-4.jpeg",
                "cat-basr-acc-5.jpeg",
                "cat-basr-acc-6.jpeg",
                "cat-basr-acc-7.jpeg",
                "cat-basr-acc-8.jpeg",
                "cat-basr-acc-9.jpeg",
                "cat-basr-acc-10.jpeg"
              ] %}
              {% for image in basrGallery %} 
              <div class="col-md-4">
                <div class="work-card bg-light-1 rounded-md">
                  <a href="{{ ("/assets/img/category/basr/" + image) | url }}" class="glightbox work-image-wrap rounded-md" data-gallery="portfolio" data-no-swup>
                    <svg class="img-wrapper-icon" width="34" height="34" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                      <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25" />
                      <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5" />
                    </svg> 
                    {% workImage "src/assets/img/category/basr/" + image, "BASR " + loop.index %} </a>
                </div>
              </div> 
              {% endfor %} 
            </div>
          </div>
          <button class="magnetic swiper-gal swiper-button-prev fade-in" data-strength="60" tabindex="0" aria-label="Vorherige Folie">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <button class="magnetic swiper-gal swiper-button-next fade-in" data-strength="60" tabindex="0" aria-label="Nächste Folie">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <div class="fade-in">
            <div class="swiper-scrollbar bg-light-2"></div>
          </div>
      </div>
</section>












