---
lang: de
layout: "layouts/base-hero.njk"
permalink: /galerie/
title: Galerie
description: Produktgalerie von JUSN Design Europe - Fotos von Offroad-Zubehör, Konstruktionsdetails und Montageinspirationen. Sehen Sie unsere Offroad-Lösungen im Einsatz.
---

<section class="pt-xlarge">
  <div class="container">
    {% include "partials/breadcrumbs.njk" %}
    <h1 class="xl split-lines color-light-3 mb-4 mt-3">Galerie</h1>

      <div class="row g-3">

        {% for post in collections.works | byLang(lang) %}
        <div class="col-6 col-md-4">
          <div class="work-card bg-light-1 rounded-md">

            <a
              href="{{ post.data.thumbnail | url }}"
              class="glightbox work-image-wrap rounded-md"
              data-gallery="portfolio"
              data-no-swup
            >

              <svg class="img-wrapper-icon"
                   width="34" height="34"
                   viewBox="0 0 16 16"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   stroke="#fff"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="1.5">
                <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25"/>
                <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5"/>
              </svg>

              {% workImage "src/" + post.data.thumbnail, post.data.title %}

            </a>

          </div>
        </div>
        {% endfor %}

    </div>

    <button class="magnetic swiper-gal swiper-button-prev fade-in" data-strength="60" tabindex="0" aria-label="Vorherige Folie">
      <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
        <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
        <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
      </svg>
    </button>

    <button class="magnetic swiper-gal swiper-button-next fade-in" data-strength="60" tabindex="0" aria-label="Nächste Folie">
      <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
        <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
        <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
      </svg>
    </button>

    <div class="fade-in">
      <div class="swiper-scrollbar"></div>
    </div>

  </div>
</section>

<style>
.glightbox-clean .gdesc-inner {
  padding: 0px 30px 30px;
}
@media (min-width: 769px) {
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
}
</style>

