---
lang: de
layout: layouts/base.njk
title: Seitenkarte
description: Übersicht der Seiten
permalink: /seitenkarte/
---

<section class="pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="col-md-6 mx-auto">

        <h2 class="split-text-lines">Seiten</h2>
        <div class="line-x"></div>
        <ul class="pt-xsmall">
            <div class="line-x lx-op"></div>
            <div class="line-x lx-op"></div>
            <li class="fadeIn my-4">
                <a href="{{ langPrefix }}/angebot/" title="Angebot">Angebot</a>
            </li>
            <div class="line-x lx-op"></div>
            <li class="fadeIn my-4">
                <a href="{{ langPrefix }}/kontakt/" title="Kontakt">Kontakt</a>
            </li>
            <div class="line-x lx-op"></div>
        </ul>

    </div>
  </div>
</section>