---
lang: de
layout: "layouts/base-hero.njk"
permalink: /angebot/
title: Angebot
description: Entdecken Sie das Angebot von JUSN Design Europe. Premium-Offroad-Zubehör für Pickups und Trucks, entwickelt für Langlebigkeit, Funktionalität und den täglichen Einsatz.
---

<section class="bg-dark-1 gradient-top pt-xlarge pb-large" id="oferta">
<div class="container">
        {% include "partials/breadcrumbs.njk" %}
        <h1 class="xl color-light-3 mt-3 mb-5 split-lines">Produkte ansehen</h1>
        <div class="row g-4">
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/pickup-aufbauten/" title="Pickup-Truck-Aufbauten">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/assets/img/offer/category-1.webp" loading="lazy" alt="Pickup-Truck-Aufbauten">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Pickup-Truck-Aufbauten</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/ladungsspeichersysteme/" title="Frachtlagersysteme">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/assets/img/offer/category-2.webp" loading="lazy" alt="Frachtlagersysteme">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Frachtlagersysteme</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/seitenschweller-und-trittstufen/" title="Seitenschweller und Trittstufen">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/assets/img/offer/sidestep.png" loading="lazy" alt="Seitenschweller und Trittstufen">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Seitenschweller und Trittstufen</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/seilfuhrungen-fur-winden/" title="Windenseilführungen">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/content/products/img/prowadnica-wyciagarki.jpg" loading="lazy" alt="Windenseilführungen">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Windenseilführungen</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/an-der-heckklappe-montierte-boxen/" title="Werkzeugkästen">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/content/products/img/skrzynka-narzedziowa.jpg" loading="lazy" alt="An der Heckklappe montierte Boxen">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">An der Heckklappe montierte Boxen</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/halterungen-fur-die-heckklappe/" title="Heckklappengriffe">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/content/products/img/maszta-na-klape.jpg" loading="lazy" alt="Heckklappengriffe">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Heckklappengriffe</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/dachhalter/" title="Dachhalter">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/content/products/img/grab-handle.jpg" loading="lazy" alt="Dachhalter">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Dachhalter</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/getrankehalter/" title="Getränkehalter">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/content/products/img/uchwyt-na-kubek.jpg" loading="lazy" alt="Getränkehalter">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Getränkehalter</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a href="/produkte/weiteres-zubehor/" title="Zubehör">
                    <div class="offer-card fade-in">
                        <div class="offer-card-arrow">
                            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="30" cy="30" r="30" fill="white"/>
                            <path d="M39.9877 23.0001C39.9877 22.4478 39.54 22.0001 38.9877 22.0001H29.9877C29.4354 22.0001 28.9877 22.4478 28.9877 23.0001C28.9877 23.5524 29.4354 24.0001 29.9877 24.0001H37.9877V32.0001C37.9877 32.5524 38.4354 33.0001 38.9877 33.0001C39.54 33.0001 39.9877 32.5524 39.9877 32.0001V23.0001ZM23 38.9878L23.7071 39.6949L39.6948 23.7072L38.9877 23.0001L38.2806 22.293L22.2929 38.2807L23 38.9878Z" fill="#001E81"/>
                            </svg>
                        </div>
                        <div class="offer-card-image">
                            <img src="/assets/img/offer/category-3.webp" loading="lazy" alt="Weiteres Zubehör">
                        </div>
                        <div class="offer-card-content">
                            <h2 class="h3 offer-card-title">Weiteres Zubehör</h2>
                        </div>
                    </div>
                    </a>
                </div>
        </div>

</div>
</section>


