{% set breadcrumbHome = "Startseite" %}
{% set breadcrumbOffer = "Angebot" %}
{% set breadcrumbOfferUrl = "/angebot/" %}
{% if lang == "en" %}
{% set breadcrumbHome = "Heim" %}
{% set breadcrumbOffer = "Angebot" %}
{% set breadcrumbOfferUrl = "/angebot/" %}
{% endif %}
<nav class="breadcrumbs uppercase small color-accent-1">
  <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
  <span>|</span>
  <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
  <span>|</span>
  <span>{{ title }}</span>
</nav>
