<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% set baseUrl = "https://jusndesigneurope.com" %}
    {% set canonicalPath = page.url | default("/") %}
    {% set canonicalUrl = baseUrl ~ canonicalPath %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Eleventy" />
    <title>{{ title }} - JUSN Design Europe</title>
    <meta name="description" content="{{ description }}"> {% set robots = robots | default('index') %}
    <meta name="robots" content="{{ robots }}">
    <link rel="canonical" href="{{ canonicalUrl }}">
    <meta name="google-site-verification" content="M_GMzgmJepFLC7PBEJwPXraxLCvaownWgwbeOFa6YaY" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ canonicalUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://jusndesigneurope.com/assets/img/opengraph.png">
    <meta property="og:site_name" content="JUSN DESIGN" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="jusndesigneurope.com">
    <meta property="twitter:url" content="{{ canonicalUrl }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://jusndesigneurope.com/assets/img/opengraph.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://jusndesigneurope.com/assets/img/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://jusndesigneurope.com/assets/img/favicon/favicon.png">
    <link rel="mask-icon" href="https://jusndesigneurope.com/assets/img/favicon/favicon.png" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=1.0.3' | url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="/static/cookieconsent.css" media="print" onload="this.media='all'">
    <style>
      .preloader {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100vh;
        background: var(--color-light-1);
        transition: all 0.15s ease-out;
        overflow: hidden;
        pointer-events: none;
        z-index: 10000000;
      }

      .preloader_inner {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 10000000;
      }

      .scrollContainer {
        opacity: 0;
        transition: opacity 0.15s ease-out;
      }

      .circle-loader {
        position: relative;
        width: auto;
        height: auto;
      }

      .circle-loader div {
        height: 10px;
        width: 10px;
        background-color: var(--color-accent-1);
        border-radius: 50%;
        position: absolute;
        -webkit-animation: 0.8s opaque ease-in-out infinite both;
        animation: 0.8s opaque ease-in-out infinite both;
      }

      .circle-loader div:nth-child(1) {
        top: -25px;
        left: 0;
      }

      .circle-loader div:nth-child(2) {
        top: -17px;
        left: 17px;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }

      .circle-loader div:nth-child(3) {
        top: 0;
        left: 25px;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }

      .circle-loader div:nth-child(4) {
        top: 17px;
        left: 17px;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }

      .circle-loader div:nth-child(5) {
        top: 25px;
        left: 0;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }

      .circle-loader div:nth-child(6) {
        top: 17px;
        left: -17px;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }

      .circle-loader div:nth-child(7) {
        top: 0;
        left: -23px;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }

      .circle-loader div:nth-child(8) {
        top: -17px;
        left: -17px;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
      }

      @keyframes opaque {
        0% {
          opacity: 0.1;
        }

        40% {
          opacity: 1;
        }

        80% {
          opacity: 0.1;
        }

        100% {
          opacity: 0.1;
        }
      }
    </style>

    <!-- Hotjar Tracking Code for Portfolio -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3601699,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </head>
  <body class="">
    {% set navOffer = "Angebot" %}
    {% set navGallery = "Galerie" %}
    {% set navContact = "Kontakt" %}
    {% set navCatalog = "Katalog" %}
    {% set megaTitleCategories = "Kategorien" %}
    {% set megaTitleFeatured = "Empfohlen" %}
    {% set urlOffer = "/angebot/" %}
    {% set urlGallery = "/galerie/" %}
    {% set urlCatalog = "/katalog/" %}
    {% set urlContact = "/kontakt/" %}
    {% set dropdownBedOrganizers = "Bettregalgebäude" %}
    {% set dropdownSideSteps = "Seitenschweller und Trittstufen" %}
    {% set productsBase = "/produkte/" %}
    {% set urlBedOrganizers = productsBase ~ "ladungsspeichersysteme/" %}
    {% set urlSideSteps = productsBase ~ "seitenschweller-und-trittstufen/" %}
    {% set urlSlidingPlatform = productsBase ~ "jd12-ausziehbare-plattformen/" %}
    {% set urlPickupBuilds = productsBase ~ "pickup-aufbauten/" %}
    {% set urlWinchGuides = productsBase ~ "seilfuhrungen-fur-winden/" %}
    {% set urlToolboxes = productsBase ~ "an-der-heckklappe-montierte-boxen/" %}
    {% set urlTailgateHandles = productsBase ~ "halterungen-fur-die-heckklappe/" %}
    {% set urlRoofHandles = productsBase ~ "dachhalter/" %}
    {% set urlCupHolders = productsBase ~ "getrankehalter/" %}
    {% set urlOther = productsBase ~ "weiteres-zubehor/" %}
    {% set urlFender = productsBase ~ "poszerzenia-blotnikow/" %}
    {% set urlTsStorage = productsBase ~ "organizer-fur-seitliche-staufacher/" %}
    {% set urlBasr = productsBase ~ "basr-strukturen/" %}
    {% set dropdownPickupBuilds = "JD10-Karosserien" %}
    {% set dropdownWinchGuides = "Seilführungen für Winden" %}
    {% set dropdownToolboxes = "Heckklappenkästen" %}
    {% set dropdownTailgateHandles = "Heckklappengriffe" %}
    {% set dropdownRoofHandles = "Dachhalter" %}
    {% set dropdownCupHolders = "Getränkehalter" %}
    {% set dropdownOther = "Weiteres Zubehör" %}
    {% set dropdownFender = "Kotflügelverbreiterungen" %}
    {% set dropdownBasr = "BASR-Strukturen" %}
    {% set dropdownTsStorage = "Seitliche Aufbewahrungsorganisatoren" %}
    {% set dropdownSlidingPlatform = "JD12 ausziehbare Plattformen" %}
    {% set shopCtaText = "Geh in den Laden" %}
    {% set shopCtaUrl = "https://ore4x4.pl/pl/brand/35-jusn-design" %}
    {% set menuToggleLabel = "Menü öffnen" %}
    <div class="preloader">
      <div class="preloader_inner">
        <div class="circle-loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="scrollContainer" id="pinSection">
      <script>
        var obj = document.querySelector('.preloader'),
          page = document.querySelector('.scrollContainer');
        window.addEventListener("load", function() {
          obj.style.opacity = "0";
          page.style.opacity = "1";
        });
      </script>
      <header class="site-header">
        <div class="container">
          <div class="site-header-wrap">
            <div class="row align-items-center">
              <div class="col-8 col-md-3 d-flex">
                <a href="{{ langPrefix }}/" class="logo" title="Logo">
                  <img src="/assets/img/logo/logo.png" class="site-logo dark" width="405" height="25" alt="JUSN DESIGN">
                  <img src="/assets/img/logo/logo.png" class="site-logo light" width="405" height="25" alt="JUSN DESIGN">
                </a>
              </div>
              <div class="col-md-6 d-none d-md-block">
                <nav class="desktop-nav">
                  <ul class="menu d-flex justify-content-center">
                    <li class="has-dropdown">
                      <a href="{{ langPrefix }}{{ urlOffer }}" class="link-hover" title="{{ navOffer }}"> {{ navOffer }} </a>
                      <div class="mega-menu">
                        <div class="mega-menu-inner">
                          <div class="mega-col">
                            <p class="mega-title">{{ megaTitleCategories }}</p>
                            <div class="mega-featured">
                              <a href="{{ langPrefix }}{{ urlPickupBuilds }}" class="mega-card">
                                <img src="/assets/img/mega/zabudowy.png" alt="{{ dropdownPickupBuilds }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/zabudowy.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownPickupBuilds }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlBedOrganizers }}" class="mega-card">
                                <img src="/assets/img/mega/organizery.png" alt="{{ dropdownBedOrganizers }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/organizery.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownBedOrganizers }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlSlidingPlatform }}" class="mega-card">
                                <img src="/assets/img/mega/platformy.png" alt="{{ dropdownSlidingPlatform }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/platformy.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownSlidingPlatform }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlTsStorage }}" class="mega-card">
                                <img src="/assets/img/mega/organizery-boczne.png" alt="{{ dropdownTsStorage }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/organizery-boczne.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownTsStorage }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlToolboxes }}" class="mega-card">
                                <img src="/assets/img/mega/skrzynki-narzedziowe.png" alt="{{ dropdownToolboxes }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/skrzynki.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownToolboxes }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlCupHolders }}" class="mega-card">
                                <img src="/assets/img/mega/getrankehalter.png" alt="{{ dropdownCupHolders }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/kubki.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownCupHolders }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlSideSteps }}" class="mega-card">
                                <img src="/assets/img/mega/schody.png" alt="{{ dropdownSideSteps }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/stopnie.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownSideSteps }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlTailgateHandles }}" class="mega-card">
                                <img src="/assets/img/mega/uchwyty-na-klape.png" alt="{{ dropdownTailgateHandles }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/uchwyty-na-klapy.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownTailgateHandles }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlWinchGuides }}" class="mega-card">
                                <img src="/assets/img/mega/prowanice-lin.png" alt="{{ dropdownWinchGuides }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/prowadnice.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownWinchGuides }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlOther }}" class="mega-card">
                                <img src="/assets/img/mega/akcesoria.png" alt="{{ dropdownOther }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/akcesoria.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownOther }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlRoofHandles }}" class="mega-card">
                                <img src="/assets/img/mega/dachhalter.png" alt="{{ dropdownRoofHandles }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/dachhalter.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownRoofHandles }}</span>
                              </a>
                              <a href="{{ langPrefix }}{{ urlBasr }}" class="mega-card">
                                <img src="/assets/img/mega/basr-strukturen.png" alt="{{ dropdownBasr }}">
                                <div class="mega-vid-wrap">
                                  <video muted loop playsinline preload="none" poster="">
                                    <source data-src="/assets/img/mega/vid/basr-strukturen.mp4" type="video/mp4"> Ihr Browser unterstützt das Video-Tag nicht.
                                  </video>
                                </div>
                                <span>{{ dropdownBasr }}</span>
                              </a>
                            </div>
                          </div> {# featured column removed #}
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="{{ langPrefix }}{{ urlGallery }}" class="link-hover" title="{{ navGallery }}"> {{ navGallery }} </a>
                    </li>
                    <li>
                      <a href="{{ langPrefix }}{{ urlCatalog }}" class="link-hover" title="{{ navCatalog }}"> {{ navCatalog }} </a>
                    </li>
                    <li>
                      <a href="{{ langPrefix }}{{ urlContact }}" class="link-hover" title="{{ navContact }}"> {{ navContact }} </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-4 col-md-3 d-flex justify-content-end"> 
                <a href="{{ shopCtaUrl }}" target="_blank" title="{{ shopCtaText }}" class="button-anim btn-write d-none d-lg-flex">
                  <div class="button-anim-text">
                    <span>{{ shopCtaText }}</span>
                    <span>{{ shopCtaText }}</span>
                  </div>
                  <div class="button-anim-icon">
                    <svg height="18" viewBox="0 0 100 100" width="18" xmlns="http://www.w3.org/2000/svg" class="icon-link" style="enable-background:new 0 0 100 100" version="1.1" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                      <g>
                        <path d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z" fill="var(--color-accent-1)"></path>
                        <polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "></polygon>
                      </g>
                    </svg>
                  </div>
                </a>
                <button class="menu-toggle d-md-none" id="menuToggle" aria-label="{{ menuToggleLabel }}">
                  <span class="hamburger">
                    <span class="burger-line bl-1"></span>
                    <span class="burger-line bl-2"></span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="scrollprogress-wrap">
        <div class="scrollprogress"></div>
      </div>
      <div id="swup" class="transition-fade">
        <section class="fullpage-menu">
          <div class="menu-bg"></div>
          <div class="container h-100">
            <div class="d-flex flex-wrap h-100 align-items-center">
              <nav class="main-menu w-100 px-3">
                <ul class="menu main-menu-list">
                  <li>
                    <a href="{{ langPrefix }}{{ urlOffer }}" title="{{ navOffer }}">{{ navOffer }}</a>
                  </li>
                  <div class="line-xh"></div>
                  <li>
                    <a href="{{ langPrefix }}{{ urlGallery }}" title="{{ navGallery }}">{{ navGallery }}</a>
                  </li>
                  <div class="line-xh"></div>
                  <li>
                    <a href="{{ langPrefix }}{{ urlContact }}" title="{{ navContact }}">{{ navContact }}</a>
                  </li>
                  <div class="line-xh"></div>
                </ul>
              </nav>
            </div>
          </div>
        </section>
        <main class="main">





