<section class="bg-dark-3" itemscope itemtype="https://schema.org/FAQPage">
  <div class="pt-medium pt-md-medium pb-medium pb-md-medium rounded-xl bg-light-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="">
            <h2 class="h1 mt-0 split-lines"> Häufig gestellte Fragen </h2>
            <p class="fade-in"> Haben Sie die Antwort auf Ihre Frage nicht gefunden? <br> Kontaktieren Sie uns, wir antworten Ihnen gerne und beraten Sie zur optimalen Lösung </p>
            <div class="d-none d-md-block">
              <a href="#kontakt" class="button-anim btn-write magnetic mt-2 fade-in" data-strength="40">
                <div class="button-anim-text">
                  <span>Nehmen Sie Kontakt auf</span>
                  <span>Nehmen Sie Kontakt auf </span>
                </div>
                <div class="button-anim-icon">
                  <svg height="18" viewBox="0 0 100 100" width="18" xmlns="http://www.w3.org/2000/svg" class="icon-link" style="enable-background:new 0 0 100 100" version="1.1" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                    <g>
                      <path d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z" fill="var(--color-accent-1)"></path>
                      <polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "></polygon>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="accordion-wrap"> {% for post in collections.faq | byLang(lang) %} <div class="bg-light-1 rounded-md shadow-1 4 my-3 fade-in" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button class="accordion p-4 p-md-5">
                <span class="h3 title my-0" itemprop="name">
                  {{ post.data.title }}
                </span>
                <span class="icon"></span>
              </button>
              <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div class="p-4 p-md-5 pt-md-0">
                  <p itemprop="text">
                    {{ post.data.answer }}
                  </p>
                </div>
              </div>
            </div> {% endfor %} </div>
        </div>
      </div>
    </div>
  </div>
</section>

