  <section class="hero-video">
    <div class="hero-content">
    <div class="container w-100">
          <div class="col-md-10 col-xl-9">
         <p class="uppercase small color-accent-1 mb-2 fade-in">Einfach entwerfen </p>
        <h1 class="xxl split-lines color-light-1 mt-0 line-2-opacity">Premium-Zubehör&nbsp;<br class="d-none d-sm-block">für Ihren Pickup </h1>
        </div>
    </div>
    </div>
    <div class="yt-full">
      <video autoplay muted loop playsinline preload="none" poster="/assets/img/hero/poster.png" aria-label="Entwerfen Sie einfach den Videohintergrund">
        <source src="/assets/video/hero.mp4" type="video/mp4">
      </video>
    </div>
    </section>

<style>
.line-2-opacity .line-parent:nth-child(2),
.line-2-opacity .line-parent:nth-child(3) {
   opacity: .75
}
</style>