<section class="pt-medium pb-large bg-dark-1" data-scroll-section>
  <div class="container">
    <p class="uppercase small color-accent-1 mb-2 fade-in">Zubehör für </p>
    <h2 class="xl split-lines color-light-3 mt-0 mb-5">Änderungen</h2>
    <div class="row g-3">

      <div class="col-md-6">
        <div class="video-embed-sec rounded-md">
            <iframe src="https://www.youtube-nocookie.com/embed/DbjeiWw1U_o?autoplay=1&mute=1&loop=1&playlist=DbjeiWw1U_o&controls=0&rel=0" loading="lazy" frameborder="0" title="Ford Bronso SideStep YouTube-Video" allow="autoplay; encrypted-media" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="video-embed-sec-small rounded-md mb-3 mb-md-4">

          <img src="/assets/img/offer/ranger.webp" alt="JustDesign">

        </div>
        <div class="video-embed-sec-small rounded-md" >
          <img src="/assets/img/offer/wrangler.webp" alt="JustDesign">
        </div>
      </div>

    </div>
  </div>
</section>

