<section class="pt-small pb-small bg-light-2" id="opinie">
    <div class="container">

      <div class="swiper swiper-reviews">
        <div class="swiper-wrapper">

          {% set reviews = collections.reviews | byLang(lang) %}
          {% for post in reviews.slice(0, 12) %}
          <div class="swiper-slide">
            <div class="mx-auto" style="max-width: 820px;">
              <div class="review-card d-flex flex-column justify-content-between h-100">

                <div class="text-center pt-3">
                  <h3 class="h2 my-0">
                    {{ post.data.title }}
                  </h3>
                </div>

                <div class="opinion-content text-center">

                  <p class="mt-3 mb-4">
                    {{ post.data.review }}
                  </p>

                </div>

              </div>
            </div>
          </div>
          {% endfor %}

        </div>

         <div class="text-center">
        <button class="magnetic swiper-rev swiper-button-prev" aria-label="Vorherige Folie">
          <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
            <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"/>
            <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"/>
          </svg>
        </button>

        <button class="magnetic swiper-rev swiper-button-next" aria-label="Nächste Folie">
          <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
            <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"/>
            <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"/>
          </svg>
        </button>
         </div>

      </div>

    </div>
</section>
