<section class="pt-medium pb-small bg-dark-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="value-card">
          <div class="value-card-icon">
            <svg width="42" height="42" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_711_10)">
                <path d="M64 4H32C25.36 4 20 9.36 20 16V80C20 86.64 25.36 92 32 92H64C70.64 92 76 86.64 76 80V16C76 9.36 70.64 4 64 4ZM56 84H40V80H56V84ZM69 72H27V16H69V72Z" fill="#ddd" />
              </g>
              <defs>
                <clipPath id="clip0_711_10">
                  <rect width="96" height="96" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div>
            <h3 class="mt-0 split-lines color-light-1">Kontakt </h3>
            <ul class="contact-list">
              <li class="fade-in">
                <a href="mailto:kontakt@przemekmiros.pl" title="Senden Sie eine Nachricht">
                  <span class="color-light-3"> contact@jusndesigneurope.com </span>
                </a>
              </li>
              <li class="fade-in">
                <a href="tel:+48 606 234 775" title="Rufen Sie mich an">
                  <span class="color-light-3"> +48 606 234 775 </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="value-card">
          <div class="value-card-icon">
            <svg width="42" height="42" viewBox="0 0 96 96" fill="var(--color-accent-1)" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 88C17.8 88 15.9167 87.2167 14.35 85.65C12.7833 84.0833 12 82.2 12 80V24C12 21.8 12.7833 19.9167 14.35 18.35C15.9167 16.7833 17.8 16 20 16H24V8H32V16H64V8H72V16H76C78.2 16 80.0833 16.7833 81.65 18.35C83.2167 19.9167 84 21.8 84 24V46.7C82.7333 46.1 81.4333 45.6 80.1 45.2C78.7667 44.8 77.4 44.5 76 44.3V40H20V80H45.2C45.6667 81.4667 46.2167 82.8667 46.85 84.2C47.4833 85.5333 48.2333 86.8 49.1 88H20ZM72 92C66.4667 92 61.75 90.05 57.85 86.15C53.95 82.25 52 77.5333 52 72C52 66.4667 53.95 61.75 57.85 57.85C61.75 53.95 66.4667 52 72 52C77.5333 52 82.25 53.95 86.15 57.85C90.05 61.75 92 66.4667 92 72C92 77.5333 90.05 82.25 86.15 86.15C82.25 90.05 77.5333 92 72 92ZM78.7 81.5L81.5 78.7L74 71.2V60H70V72.8L78.7 81.5Z" fill="#ddd" />
            </svg>
          </div>
          <div>
            <h3 class="mt-0 split-lines color-light-1">Arbeitszeit</h3>
            <ul class="contact-list">
              <li class="fade-in">
                <span class="color-light-3">Montag - Freitag</span>
              </li>
              <li class="fade-in">
                <span class="color-light-3">8.00 - 16.00</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="value-card">
          <div class="value-card-icon">
            <svg width="42" height="42" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_711_2)">
                <path d="M82 12L81.36 12.12L60 20.4L36 12L13.44 19.6C12.6 19.88 12 20.6 12 21.52V82C12 83.12 12.88 84 14 84L14.64 83.88L36 75.6L60 84L82.56 76.4C83.4 76.12 84 75.4 84 74.48V14C84 12.88 83.12 12 82 12ZM60 76L36 67.56V20L60 28.44V76Z" fill="#ddd" />
              </g>
              <defs>
                <clipPath id="clip0_711_2">
                  <rect width="96" height="96" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div>
            <h3 class="mt-0 split-lines color-light-1">Standort </h3>
            <ul class="contact-list">
              <li class="fade-in">
                <a href="https://maps.app.goo.gl/WJcBSporVLaVgKAM9">
                  <span class="color-light-3"> 05-660 Warka </span>
                </a>
              </li>
              <li class="fade-in">
                <a href="https://maps.app.goo.gl/WJcBSporVLaVgKAM9">
                  <span class="color-light-3">Polen </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
